<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="static :: html_head">
</head>

<body class="bg-dark">
<div class="container h-100 d-flex">
    <div class="jumbotron mx-auto my-auto">
        <h3 class="text-center">Kérdés szövege például: miért köcsög itt mindenki?</h3>
        <div class="container">
            <div class="col py-3">
                <input type="text" class="form-control" placeholder="Válaszod ide írd">
            </div>
            <div class="col text-center">
                <a class="btn btn-dark btn-radius btn-lg" href="#" role="button">Küldés</a>
            </div>
        </div>
    </div>
</div>


<div th:replace="static :: footer">
</div>
</body>
</html>