<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="static :: html_head">
</head>

<body class="bg-dark">
<div class="container h-100 d-flex">
    <div class="jumbotron mx-auto my-auto">
        <div class="container">
            <div class="col text-center pb-5">
                <a class="btn btn-dark btn-radius btn-lg" th:href="@{game.html}" role="button"><h1>Játék</h1></a>
            </div>
            <div class="col text-center">
                <a class="btn btn-dark btn-radius btn-lg" href="#" role="button">Új kérdés feltöltése</a>
            </div>
            <div class="col text-center pt-4">
                <a class="btn btn-dark btn-radius" href="#" role="button">Kijelentkezés</a>
            </div>
        </div>
    </div>
</div>


<div th:replace="static :: footer">
</div>
</body>
</html>